<div class="nested-fields">
    <%= f.text_field :quantity, placeholder: "quantity", class: "step-blank" %>
    <%= link_to_add_association "Add  Ingredient",f, :ingredient, class: "step-btn" %>
    <%= link_to_remove_association image_tag("minus_icon.png"), f %>
</div>