// Place all the styles related to the diets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.diet-section {
    border: none;
    background-color: #fff;
    width: 98%;
    height: 97%;
    margin: 1%;
    border: 1px solid pink;
    
    .top-diet-section {
        width: 46%;
        height: 13%;
        background-color: rgba(0, 0, 0, 0.05);
        margin: 1% 2%;
        
        .record-blank {
            height: 4vh;
            width: 48%;
            margin: 1% 2%;
            border: none;
            border-bottom: 1px solid #787878;
            margin-bottom: 1%;
            background-color: transparent;
        }
        
        .record-btn {
            font-size: 1.2rem;
            color: #001e1d;
            background-color: #f9bc60;
            width: 25%;
            height: 5vh;
            border-radius: 30px;
            padding: 1vh 1vw;
            margin: 1% 2%;
        }
        
        .record-save-btn {
            font-size: 1.2rem;
            color: #001e1d;
            background-color: #f9bc60;
            width: 12%;
            height: 5vh;
            border-radius: 30px;
            padding: 1vh 1vw;
            margin: 1% 2%;
        }
    }
    
    .bottom-diet-section {
        width: 96%;
        height: 81%;
        // border: 1px solid gray;
        margin: 1% 2%;
    }
}

.simple-calendar {
    border: 3.5px solid #004643;
    height: 100%;
    width: 100%;
    
    .calendar-heading {
        height: 5%;
        text-align: center;
        background-color: #004643;
        color: #fffffe;
        font-weight: bold;
        font-size: 2rem;
    }
    
    .table {
        height: 95%;
        width: 100%;
    }
    
}