// Place all the styles related to the diets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.diet-section {
    border: 1px solid #787878;
    background-color: #fff;
    width: 98%;
    height: 97%;
    margin: 1%;
    
    .left-diet-section {
        float: left;
        width: 70%;
        height: 100%;
    }
    
    .right-diet-section {
        width: 30%;
        height: 100%;
        float: left;
        
        .diet-create-section {
            width: 96%;
            height: 70%;
            margin: 30% 2%;
            border: 3.5px solid #abd1c6;
            border-radius: 15px;
        }
    }
}