html, body {
  margin: 0;
}
html {
  font-size: 62.5%;
}

body {
    font-family: Helvetica;
    font-size: 1.2rem;
    color: #333;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.top-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: rgba(230, 180, 40, 0.9)
}

.left-container {
  background-image: url("top_left.jpg");
  background-size: cover;
  display: block;
  width: 50vw;
  height: 100vh;
  float: left;
  
  .left-text {
    font-family: 'Playball';
    font-size: 2.8rem;
    padding-top: 75vh;
    padding-left: 20vw;
    height: 100vh;
    width: 50vw;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
  }
}

.right-container {
  display: block;
  width: 50vw;
  height: 100vh;
  float: right;
  font-size: 1.5rem;

  .login {
    margin: 3vh 5vw;
    width: 40vw;
    line-height: 0;
    
    .login-info {
      float: left;
      width: 16vw;
      margin-right: 1.5vw;
      
      .blank {
        margin-top: 1vh;
        height: 5vh;
        width: 16vw;
        background-color: rgba(0, 0, 0, 0.1);
        border: none;
      }
    }
    
    .btn-section {
      padding-top: 2vh;
      width: 5vw;
      float: left;
      text-align: right;
      
      .mini-btn {
        font-size: 1.2rem;
        color: white;
        background-color: black;
        width: 5vw;
        height: 5vh;
        border-radius: 30px;
        padding: 1vh 1vw;
      }
    }
  }
  
  .greeting {
    font-family: 'Playball';
    text-align: center;
    font-size: 3.2rem;
    font-weight: bold;
    margin: 2vh auto;
  }
  
  .home-image {
    border: 1px solid black;
    width: 40vw;
    height: 50vh;
    margin: 0 5vw;
  }
  
  .account-section {
    margin: 5vh 5vw;

    .btn {
      color: white;
      background-color: black;
      width: 40vw;
      margin: 1vh auto;
      border-radius: 30px;
    }
  }
}
