html, body {
    margin: 0;
}
html {
    font-size: 62.5%;
}

body {
    font-family: Helvetica;
    font-size: 1.2rem;
    color: #333;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.nav {
    width: 100vw;
    height: 8vh;
    background-color: rgba(230, 180, 40, 0.9);
    border-bottom: 1px solid #787878;

    
    .title {
        display: block;
        height: 5vh;
        font-family: 'Playball';
        font-size: 3.2rem;
        font-weight: bold;
        margin-top: 1.5vh;
        float: left;
        
    }
    
    .new-btn {
        float: right;
        font-size: 1.2rem;
        color: white;
        background-color: black;
        width: 5vw;
        height: 5vh;
        border-radius: 30px;
        padding: 1vh 1vw;
        margin-top: 1.5vh;
        margin-right: 1vw;
    }
}

.recipe-wrapper {
    width: 100vw;
    height: 92vh;
    
    .side-container {
        width: 15vw;
        height: 92vh;
        border-right: 1px solid #787878;
        float: left;
    }
    
    .main-container {
        width: 85vw;
        height: 92vh;
        float: right;
        
        .new-section {
            border: 1px solid #787878;
            background-color: #fff;
            width: 98%;
            height: 98%;
            margin: 1% 1%;
            
            .new-left-section {
                float: left;
                width: 50%;
                height: 100%;
                
                .title-box {
                    height: 10%;
                    width: 96%;
                    margin: 1.5% 2%;
                    background-color: rgba(0, 0, 0, 0.05);
                    border: none;
                    display: block;
                }
                
                .category-box {
                    height: 10%;
                    width: 96%;
                    margin: 1.5% 2%;
                    background-color: rgba(0, 0, 0, 0.05);
                    border: none;
                    display: block;
                }
                
                .ingredient-box {
                    height: 74%;
                    width: 96%;
                    margin: 1.5% 2%;
                    background-color: rgba(0, 0, 0, 0.05);
                    border: none;
                }
            }
            
            .new-right-section {
                width: 50%;
                height: 100%;
                float: right;
                
                .photo-box {
                    height: 10%;
                    width: 96%;
                    margin: 1.5% 2%;
                    background-color: rgba(0, 0, 0, 0.05);
                    border: none;
                    display: block;
                }
                
                .step-box {
                    background-color: rgba(0, 0, 0, 0.05);
                    border: none;
                    height: 85.5%;
                    width: 96%;
                    margin: 1.5% 2%;
                }
            }
        }
    }
}